.formulario {
  display: flex;
  gap: 0.5rem;
  width: 35%;
  flex-direction: column;
  align-items: center;
  .botoes {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    button {
      display: flex;
      justify-content: center;
      padding: 0.5rem 0;
      width: 100%;
      border: none;
    }
    button:hover {
      transition: 1s;
      background-color: var(--cor-botao-hover);
    }
  }
}
