.selecao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  select {
    border: none;
    text-align: center;
    padding: 0.33rem 0.5rem;
    border-radius: 5px;
    width: 100%;
    background-color: var(--cor-fundo-select);
  }
  select:hover {
    transition: 0.5s;
    background-color: var(--cor-select-hover);
  }
  select option {
    background-color: var(--cor-fundo-select);
  }
}
