.jogador {
  background-color: var(--cor-cards-fundo);
  padding: 0 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  text-align: center;
  gap: 0.5rem;
  border-radius: 1.5rem;
  width: 12.5vw;
  line-height: 1.5rem;
  span {
    margin-left: 0.33rem;
    background-color: var(--cor-fundo-select);
    border-radius: 0.6rem;
    padding: 0.25rem 0.5rem;
  }
}
